@{
    ViewBag.Title = "پیشخوان | فرم خرید عمده";
}

@using Core.Services.Interfaces;
@using Core.ViewModel;
@using Datalayer.Entities

@model List<MajorShopping>

@inject IPageService _pageService

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>خرید عمده</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Admin" asp-action="index">مدیریت</a>
            </li>
            <li class="active">
                <strong>خرید عمده</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

@{
    int numberItemInPage = 10;

    int allPage = (Model.Count() % numberItemInPage == 0) ? (Model.Count() / numberItemInPage) : (Model.Count() / numberItemInPage) + 1;

    MajorViewModel majorTable = new MajorViewModel
            {
                MajorShoppings = _pageService.GetSpecificMajors(1, numberItemInPage),
                CurrentPage = 1,
                CountPerPage = numberItemInPage,
                AllPage = allPage
            };
}

<div id="MajorTable" class="wrapper animated fadeInRight">
    @await Html.PartialAsync("_majorTable", majorTable)
</div>

@section scripts {
    <script src="~/admin/plugin/sweetalert/sweetalert2.all.min.js"></script>

    <script>
        function DeleteMajor(id) {
            Swal.fire({
                title: "آیا مطمئنید؟",
                text: "با این کار این درخواست حذف می شود!",
                icon: "error",
                showCancelButton: true,
                confirmButtonText: "پاک کن",
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Page/DeleteMajor',
                        type: "POST",
                        data: { id: id },
                        success: function (result) {
                            // $("#comment_" + id).remove();
                            location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            Swal.fire("خطا", "عملیات با خطا مواجه شد!", "error");
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('انجام نشد! چرا؟', '', 'info')
                }
            })

        }

    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Admin/Page/DoUnreadAllMajors",
                type: "GET",
            }).done(function () {
                $("#unreadMajorElement").text('0');
            });
        });
    </script>


}
