@using Core.ViewModel;
@using Datalayer.Entities;
@using Core.Services.Interfaces;

@{
    ViewBag.Title = "پیشخوان | کد های تخفیف";
}

@model List<Coupon>

@inject IProductService _productService

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>لیست کدهای تخفیف</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Admin" asp-action="index">مدیریت</a>
            </li>
            <li class="active">
                <strong>کد های تخفیف</strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">
    </div>
</div>

@{
    int numberItemInPage = 10;

    int allPage = (Model.Count() % numberItemInPage == 0) ? (Model.Count() / numberItemInPage) : (Model.Count() / numberItemInPage) + 1;

    CouponViewModel CouponTable = new CouponViewModel
    {
        Coupons = _productService.GetSpecificCouponCodes(1, numberItemInPage),
        CurrentPage = 1,
        CountPerPage = numberItemInPage,
        AllPage = allPage
    };
}

@{
    if (ViewBag.message != null)
    {
        <div class="ErMessage @ViewBag.style">
            <span>@ViewBag.message</span>
        </div>
    }
}
<div id="CouponTable" class="wrapper animated fadeInRight">
    @await Html.PartialAsync("_couponTable", CouponTable)
</div>

@section scripts {
    <script src="~/admin/plugin/sweetalert/sweetalert2.all.min.js"></script>

    <script>
        function DeleteCouponCode(id) {
            Swal.fire({
                title: "آیا مطمئنید؟",
                text: "با این کار این کد تخفیف حذف می شود و قابل بازیابی نخواهد بود؟!",
                icon: "error",
                showCancelButton: true,
                confirmButtonText: "پاک کن",
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Product/DeleteCouponCode',
                        type: "POST",
                        data: { id: id },
                        success: function (result) {
                            Swal.fire("حذف شد!", "کد تخفیف با موفقیت حذف شد", "success");
                            $("#coupon_" + id).remove();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            Swal.fire("خطا", "عملیات با خطا مواجه شد!", "error");
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('انجام نشد!', '', 'info')
                }
            })

        }

    </script>
}
