<div class="modal inmodal" id="Gallery" tabindex="2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">

            <div id="LoadingGallery">
                <div class="sk-loading">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                </div>
            </div>

            <div class="modal-header" style="padding-bottom:0px; padding-top:15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="font-size: 20px;margin-bottom: 10px;">گالری تصاویر</h4>

                <div class="row" style="margin-top:10px;">
                    <form action="~/Admin/Media/UploadImageDropzone" method="post" enctype="multipart/form-data"
                          class="dropzone"
                          id="my-awesome-dropzone">
                        <div class="dz-message" data-dz-message><span>عکس مورد نظر را در این منطقه رها کنید یا کلیک کنید</span></div>
                    </form>
                </div>
            </div>

            <div id="WrapGallery" class="modal-body" style="overflow-y: auto;height: 300px;">

                <div id="imageGallery" style="direction:ltr;" class="row">
                </div>

                <div class="row">
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success col-sm-2 insertImage" type="button" data-dismiss="modal"><span class="bold">قرار بده!</span></button>
                <button class="btn btn-success col-sm-2 deleteImage" type="button"><span class="bold">حذف عکس</span></button>
            </div>
        </div>
    </div>
</div>


